/* Dark mode styles */
body.dark-mode {
    background: linear-gradient(to right, darkgreen, darkblue);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    transition: background 1s ease, color 0.3s ease;
}

/* Global styles */
body {
    background: linear-gradient(to right, grey, white));
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: black;
    transition: background 1s ease-in-out, color 0.3s ease;
}

/* Button container styles */
.button-container {
    display: flex;
    gap: 10px;
}

/* Button styles */
button {
    background: linear-gradient(to right, #4CAF50, #2196F3);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background: linear-gradient(to right, #2196F3, #4CAF50);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}

/* Link styles */
a {
    text-decoration: none;
}
